footer
  .box
    #createAppBar(data-win-control="WinJS.UI.AppBar", data-win-options!="{sticky: true, placement: 'bottom'}")
      button(data-win-control="WinJS.UI.AppBarCommand", data-win-options!="{id:'cmdLocate',label:'Locate Me',icon:'mappin',section:'selection',tooltip:'Locate me on the map'}")
