head
  meta(charset="utf-8")
  meta(http-equiv="x-ua-compatible", content="ie=edge")
  title Locate Me | GIS EXPERT Test 
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="apple-touch-icon", href="locate-me.png")
  //- Place favicon.ico in the root directory
  link(rel="stylesheet", href="bower_components/winjs/css/ui-dark.css")
  link(rel="stylesheet", href="styles/leaflet.css")
  link(rel="stylesheet", href="styles/app.css")